<div class="row">
    <div class="col-md-3 col-sm-12 mt-4" *ngFor="let product of products">
        <a routerLink="/productDetail/{{product.id}}">
            <div class="card shadow-lg" >
                <img class="card-img-top img-thumbnail p-3 round-3" [src]="product.imageUrl" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text">{{product.price|currency:"INR"}}</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-5">

    </div>
</div>